<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 注意：namespace中的值必须是对应接口的全路径，SQL语句中的id值必须是这个接口中对应方法名称 -->
<mapper namespace="com.yjj.fresh.mapper.IGoodsInfoMapper">

	<select id="finds" resultType="GoodsInfo">
		select gno,gname,price,pics,tno from goodsinfo gf1 where 4>
		 (select count(gno) from goodsinfo gf2 where gf1.tno=gf2.tno and gf1.gno &lt; gf2.gno)
		 order by gf1.tno asc,gf1.gno desc
	</select>
	
	<!-- goods.html页面分页查询 -->
	<select id="findByPage" parameterType="map" resultType="GoodsInfo">
		select gno,gname,price,intro,balance,pics,descr,unit,weight,t.tno,tname from goodsinfo g,typeinfo t 
		where g.tno=t.tno and t.tno=#{tno} order by balance DESC,g.gno DESC limit #{page},#{rows} 
	</select>
	
	<select id="findByTno" parameterType="string" resultType="int">
		select count(gno) as num from goodsinfo where tno=#{_parameter}
	</select>
	
	<select id="fingByGno" parameterType="string" resultType="GoodsInfo">
		select gno,gname,price,intro,balance,pics,descr,unit,weight,qperied,t.tno,tname from goodsinfo g,typeinfo t 
		where g.tno=t.tno and gno=#{_parameter}
	</select>
</mapper>