<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天天生鲜-支付管理</title>
 <link rel="shortcut icon" href="images/copylogo.png">
 <link rel="stylesheet" href="css/reset.css">
 <link rel="stylesheet" href="css/main.css">
 <link rel="stylesheet" href="css/order.css">
</head>

<body>
	<!-- 头部  -->
	<div class="header_con">
    	<div class="header">
    		<div class="welcome fl">欢迎来到天天生鲜</div>
    		<div class="fr" id="head_info">
             </div>  
    	</div>
    </div>
    
    <!-- 搜素框 -->
    <div class="search_bar clearfix">
        <a href="/goods/index.html" class="logo fl"><img src="images/logo.png"></a>
        <div class="search_con fl">
            <input type="text" placeholder="搜素商品" name="" class="input_text fl">
            <input type="button" value="搜索" class="input_btn fr">
        </div>
    </div>
     
   	<!-- 订单列表 -->
<div id="app">    
	<div class="common_list_con clearfix" id="order_list">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col03">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col02">数量</li>
			<li class="col03">小计</li>		
		</ul>
	</div>
	<div class="order_list_con" id="order_list">
	<div v-for="gd in goods">
		<div class="order_title" >
			{{ gd.odate }}&nbsp;&nbsp;&nbsp;&nbsp; 订单号：{{ gd.ono }}&nbsp;&nbsp;&nbsp;&nbsp;
			总金额为：<label style="color:red;">{{gd.priceAll}}</label>&nbsp;&nbsp;&nbsp;&nbsp;<label v-if="gd.priceAll<100">(含运费<label style="color:red;"> 10 </label>元)</label>
			<a href="javascript:void(0);" v-if="gd.status==0" @click="pay(gd.priceAll,gd.ono)">去支付</a>
			<a href="" v-else>已支付</a>
		</div>
		<ul class="goods_list_td clearfix" v-for="good in gd.orderItem">
			<li class="col01">{{ good.gno }}</li>			
			<li class="col02"><img :src="good.goodsinfo.pics"></li>
			<li class="col03">{{ good.goodsinfo.gname }}</li>
			<li class="col04">{{ good.goodsinfo.weight }}{{ good.goodsinfo.unit }}</li>
			<li class="col04">{{ good.goodsinfo.price }}元</li>
			<li class="col03">{{ good.nums }}</li>
			<li class="col04">{{ good.price*good.nums }}元</li>	
		</ul>
		</div>
	</div>
 </div>       
    <!-- 版权所有 -->
	<div class="footer">
    	<div class="foot_link">
    		<a href="#">关于我们</a> <span> | </span>
            <a href="#">联系我么</a> <span> | </span>
            <a href="#">招聘人才</a> <span> | </span>
            <a href="#">友情链接</a> 
    	</div>
    	<p>CcpyRight &copy; 2019 衡阳市源辰信息科技有限公司 All Rights Reserverd</p>
        <p>电话：0734-8355998 湘ICP备16015987号</p>
    </div>
<div id="login">
	<input type="hidden" :value="nickName" id="login_name"> 
</div>
<script src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/axios.js"></script>
<script type="text/javascript" src="js/qs.js"></script>
<script type="text/javascript" src="js/check.js"></script>
<script type="text/javascript">
let vm=new Vue({
	el:"#app",
	data:{
		goods:[]
	},
	methods:{
		pay:function(price,ono){
			location.href="apli/pay/"+ono+"/"+price;
		}
	},
	mounted:function(){
		axios.all( [ finds() ] ).then( axios.spread ( ( yc )=>{
			this.goods=yc.data;
		}) )
	}
})
function finds(){
	return axios.post("order/findall",qs.stringify({}));
}
</script>

</body>
</html>
