<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天天生鲜-登陆</title>
<link rel="icon" href="images/copylogo.png">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/login.css">
<style type="text/css">
	   #code{border: none;color: #007DDB;font-style: italic;letter-spacing: 2px;font-weight:bold;width: 60px;height:30px;text-align: center;}
       #code:focus{outline: none;} 
</style>
</head>

<body>
	<!-- logo区区域 -->
	<div class="login_top">
    	<a href="index.html" class="login_logo"><img src="images/logo02.png"></a>
    </div>
<div id="app">
	<!-- 内容区域 -->
    <div class="login_form_bg">
    	<div class="login_form_wrap clearfix">
        	<div class="login_banner fl"></div>
            <div class="slogn fl">日夜兼程 · 急速送达</div>	
            <div class="login_form fr">
                <div class="login_title	clearfix">
                    <h1 class="fl">用户登陆</h1>
                    <a href="register.html" class="fl">立即注册</a>
                </div>
				<!-- 登录区域 -->
                <div class="form_input clearfix">
                    <form>
						<ul>
                            <li>
                                <input type="text" name="nickname" class="name_input" v-model="uname" @blur="checkName()" placeholder="请输入用户名" >
                                <div class="user_error" v-show="status[0]">{{info1}}</div>
                            </li>
                            <li>
                                <input type="password" name="pwd" class="pwd_input" v-model="pwd" @blur="checkPwd()" placeholder="请输入密码" id="pwd">
                                <div class="pwd_error" v-show="status[1]">{{info2}}</div>
                            </li>
                            <li>
                            	<div>
                                <input type="text" name="yzm" id="yzm" class="yzm_input"
                                placeholder="请输入验证码">
                                <input type="button" id="code" @click="getCode()" v-model="code"/>
                                </div>
                                   
                                <div class="code_error" v-show="status[2]">验证码错误</div>
                            </li>
                            <li>
                                <div class="more_input clearfix">
                                    <input type="checkbox" name="" id="remember">
                                    <label for="remember">记住用户名</label>
                                    <a href="#">忘记密码</a>
                                </div>
                            </li>
                            <li>
                               <input type="button" value="登录" class="submit_input" @click = "login()">
                            </li>
                      	</ul>
                    </form>
                </div>
            </div>
         </div>
    </div>
</div>	
	<!-- 版权所有-->
    <div class="footer">
    	<div class="foot_link">
        	<a href="#">关于我们</a><span> | </span>
        	<a href="#">联系我们</a><span> | </span>
        	<a href="#">招聘广告</a><span> | </span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight &copy;  2019 衡阳市源辰信息科技有限公司 All Rights Reserverd</p>
        <p>电话：0734-8355998 湘ICP备16015987号</p>
    </div>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script src="js/qs.js"></script>
<script>
	let vm=new Vue({
		el:"#app",
		data:{
			uname:"",
			pwd:"",
			status:[false,false,false],
			info1:"",
			info2:"",
			code:"获取验证码",
		},
		methods:{
			checkName:function(){
				let correct=false;
				var reg = /^\w{6,15}(\@[a-z0-9]+(\.[0-9a-z]+){1,2})?$/;
				
		        if (this.uname == '') {
		        	this.info1="用户名不能为空";
		        	correct=true;
		        }else if(! reg.test(this.uname)) {
		        	this.info1="用户名必须是6到十五位 或者是 邮箱";
		        	correct=true;
		        }else{
		        	correct=false;
		        }
		        
		        Vue.set(vm.status,0,correct);
		        
			},
			checkPwd:function(){
				 var reg = /^[\w@!#$%&^*]{6,15}$/;

			     if (this.pwd == '') {
			        this.info2="密码不能为空";
			        correct=true;
			    }else if (! reg.test(this.pwd)) {
			        this.info2="密码是6到15位字母、数字";
			        correct=true;
			    }else{
			    	this.info2="";
			        correct=false;
			    }	
			    console.log(correct);
			    Vue.set(vm.status,1,correct);
			     
			},
			getCode:function(){
				var code='';  /*默认code为空*/
			    var codes=[0,1,2,3,4,5,6,7,8,9,'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'];  /*声明一个数组,用来放所有数字字母*/
			    for(var i=0;i<4;i++){  /*获取长度为4的验证码*/
			    	var j=Math.floor(Math.random()*62);/*从codes数组下标随机获取数字0-61,存入arr*/
			        code+=codes[j];
			   }
			  this.code=code; /*把得到的验证码赋值给显示按钮*/
			},
			login:function(){
				
				if($.inArray(true,this.status)>0){
					alert("账号或密码为空");
					return;
				}
				
				axios({
					url:"member/login",
					method:"post",
					params:{
						nickName:this.uname,
						pwd:this.pwd
					}
				}).then(yc=>{
					if(yc.data==2){
						let temp=document.referrer;//获取来源路径
						if(temp=="" || temp==undefined || temp.indexOf("regidter.html")){
							location.href="/view/index.html";
						}else{
							history.go(-1);
						}
					}else if(yc.data==-3){
						alert("您的账号被封禁，请尽快联系管理员");
					}else{
						alert("账号或密码错误....");
						location.reload();
					}
				})
				
			}
		},
		mounted:function(){
			
		}	
	})	
</script>
</body>
</html>
